doctype html
html(lang="en")
  head
    title= pageTitle
  body

    #container
      p
      <object data="http://www.druidia.net:8171/stream_simple.html" width="980" height="800"/>

      div(ng-controller="index.server.controller")
      button.btn(ng-click="moveLeft()" title="Move Left") <--
