<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
  <video src="localhost:8171/stream_simple.html" controls>
   Your browser does not support the <code>video</code> element.
  </video>
</body>
</html>
